<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Beekeepers</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Blog.css")
    @Scripts.Render("~/Content/gulpfile.js")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Blog.min.css")
</head>
<body>


    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="overlay"> </div>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                <div class="container">
                    <a class="navbar-brand">@Html.ActionLink("Beekeepers", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
                    @* <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                    <i class="fas fa-bars"></i>
                    </button>*@
                    <div class="navbar-collapse collapse" id="navbarResponsive" id="mainNav">
                        <ul class="nav navbar-nav">

                            <li class="nav-item">
                                @Html.ActionLink("Home", "Index", "Home")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("About", "About", "Home")
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Contact", "Contact", "Home")
                            </li>

                            @Html.Partial("_LoginPartial")
                        </ul>

                    </div>
                </div>
            </nav>
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Beekeepers Blog</h1>
                        <span class="subheading">By Beekeepers</span>
                    </div>
                </div>

            </div>
        </div>
    </header>
    




    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">&copy; @DateTime.Now.Year - Beekeepers</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
